body{

font-family:Arial;
background:#0f2027;
color:white;
text-align:center;

}

.login-box{

width:300px;
margin:auto;
margin-top:150px;
background:#203a43;
padding:30px;
border-radius:10px;

}

input{

width:100%;
padding:10px;
margin:10px;

}

button{

padding:10px;
background:#00c6ff;
border:none;

}